@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  background: var(--background);
  color: var(--foreground);
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

.reveal-text {
  color: transparent;
  background-clip: text;
  background: linear-gradient(
    to right,
    rgb(0, 0, 0) 50%,
    rgb(90, 90, 90) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  -webkit-background-clip: text;
}


@layer utilities {
  .mask-rect {
    -webkit-mask-image: linear-gradient(black, black);
    mask-image: linear-gradient(black, black);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: 100% 0%;
    mask-size: 100% 0%;
    transition: mask-size 0.5s ease;
  }
  
  .mask-reveal {
    -webkit-mask-image: linear-gradient(black, black);
    mask-image: linear-gradient(black, black);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: 100% 0%;
    mask-size: 100% 0%;
  }
  
  /* Navigation item animation */
  .nav-item {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
    padding-bottom: 5px;
  }
  
  /* The underline element will be created and animated with GSAP */
  .nav-underline {
    position: absolute;
    bottom: -2px;
    height: 1px;
    background-color: #EB5939;
  }
}

